<div class="row">
  <div class="col-md-12">
    <br>
    <h2>Student Details</h2>
    <hr />
    <form action="/student/update" method="POST">
      <input type="hidden" name="studentNum" value="{{viewData.student.studentNum}}">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input class="form-control" type="text" name="firstName" value="{{viewData.student.firstName}}" required>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input class="form-control" type="text" name="lastName" value="{{viewData.student.lastName}}" required>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control" type="email" name="email" value="{{viewData.student.email}}" required>
      </div>
      <div class="form-group">
        <label for="addressStreet">Street Address</label>
        <input class="form-control" type="text" name="addressStreet" value="{{viewData.student.addressStreet}}" required>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="addressCity">City</label>
            <input class="form-control" type="text" name="addressCity" value="{{viewData.student.addressCity}}" required>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="addressProvince">Province</label>
            <input class="form-control" type="text" name="addressProvince" value="{{viewData.student.addressProvince}}" required>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="status">Status</label>
        <input class="form-control" type="text" name="status" value="{{viewData.student.status}}" required>
      </div>
      <div class="form-group">
        <label for="course">Course</label>
        {{#if viewData.courses}}
          <select class="form-control" name="course" id="course">
            <option value="">Select Course</option>
            {{#each viewData.courses}}
              <option value="{{courseId}}" {{#if selected}} selected {{/if}}>{{courseCode}}</option>
            {{/each}}
          </select>
        {{else}}
          <div>No Courses</div>
        {{/if}}
      </div>
      <button type="submit" class="btn btn-primary">Update Student</button>
    </form>
  </div>
</div>
